<div class="col-lg-6" >
    <form #formData= "ngForm"  (ngSubmit)="onSubmit(formData)" >
        <div class="form-group">
          <label for="email">Email address:</label>
          <input type="email" 
                 class="form-control"
                  id="email"
                  ngModel
                  name="email"
                  required
                  email 
                  >
        </div>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password" 
                 class="form-control" 
                 id="pwd"
                 ngModel
                 name="name"
                 required
                 minlength="6"
                 >
        </div>
        <button class="btn btn-primary" type="submit" [disabled]='!formData.valid' >{{ isLoginMode ? 'Log In' : 'Sign Up' }}</button> |
        <button class="btn btn-primary" type="button" (click)="switchToLogin()" >Switch to {{ isLoginMode ?  'Sign Up' : 'Log In' }}</button>
      </form>
</div>